@font-face {
  font-family: 'SeoulNamsanM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff')
    format('woff');
}

html {
  overflow: hidden;
}

body {
  overflow: visible !important;
}

html,
body {
  position: relative;
  min-width: 360px;
  max-width: 470px;
  margin: 0 auto;
  padding: 0;
  font-family: SeoulNamsanM, sans-serif !important;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

@media (min-width: 471px) {
  html,
  body {
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
  }
}

button {
  cursor: pointer;
}

.MuiTypography-root,
.MuiButtonBase-root,
.MuiInputBase-input,
.MuiFormLabel-root,
.MuiBox-root,
.MuiBox-root button,
.MuiBox-root input,
.ck {
  font-family: SeoulNamsanM, sans-serif;
}

body,
.MuiDrawer-paper,
#__next,
.MuiDialog-container,
.MuiBox-root.css-1vnwtvy {
  width: 100%;
  max-width: 470px;
  min-width: 360px;
  margin: 0 auto;
}

.MuiModal-root template {
  width: 20rem;
}

.MuiDialog-container .MuiPaper-root.MuiPaper-elevation {
  box-shadow: none;
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
}

.MuiDialog-root.MuiModal-root > .MuiBackdrop-root {
  display: none;
}

.MuiButtonBase-root:hover {
  background: none;
}

body .pac-container {
  width: calc(100% - 2rem) !important;
  left: 1rem !important;
  z-index: 9999;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.story_write #map:after {
  width: 50px;
  height: 50px;
  display: block;
  content: ' ';
  position: absolute;
  top: calc(50% - 48px);
  left: calc(50% - 25.4px);
  background: url('/images/center_marker.svg') no-repeat;
  background-size: 50px 50px;
  pointer-events: none;
}

.ck-editor__editable {
  min-height: 600px;
}

body .pac-logo::after {
  display: none;
}

body .pac-container .pac-item {
  padding: 5px;
  font-size: 1rem;
  font-weight: 300;
  color: #000;
  background-color: #fff;
  border-radius: 2px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pac-container .pac-item-query .pac-matched {
  color: #736dee;
}

.pac-icon-marker {
  display: none;
}

.pac-container {
  font-family: SeoulNamsanEB !important;
}
.pac-container .pac-item-query,
.pac-container .pac-matched {
  font-size: 1rem;
}

.pac-container .pac-item-query {
  display: block;
  padding-left: 1.5rem;
}
.pac-container span:nth-child(3) {
  padding-left: 1.5rem;
  font-size: 0.875rem;
  color: #868686;
}

.pac-item {
  position: relative;
}

.pac-container .pac-icon {
  position: absolute;
}

nav {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
nav::-webkit-scrollbar {
  display: none;
}

/* ckeditor */
.ck.ck-toolbar.ck-toolbar_grouping {
  background: white;
}

.ck.ck-toolbar {
  background: white;
}

.ck.ck-content p {
  margin: 0;
  padding: 0.1rem 0;
}

.ck-focused {
  border: none !important;
}

.ck.ck-sticky-panel__content {
  display: none !important;
}

.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred {
  border: none;
}

.MuiFormLabel-root.Mui-focused {
  color: grey !important;
}

/* map toolbar */
.gmnoprint {
  display: none;
}

/* 메인 바텀 시트 CSS */
.main {
  border: 1px solid black;
  height: calc(93vh - 3px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer {
  width: 98vw;
  height: calc(7vh - 3px);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sheetHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 10vh;
  border: 1px solid white;
}

.sheetBody {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid white;
}

.sheetFooter {
  position: absolute;
  bottom: 1px;
  left: calc(1vw - 1px);
  z-index: 4;
  width: 98vw;
  height: calc(7vh - 3px);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background: white;
}

[data-rsbs-overlay] {
  border-top-left-radius: var(--rsbs-overlay-rounded, 16px);
  border-top-right-radius: var(--rsbs-overlay-rounded, 16px);
  display: flex;
  background: var(--rsbs-bg, #fff);
  flex-direction: column;
  height: var(--rsbs-overlay-h, 0px);
  transform: translate3d(0, var(--rsbs-overlay-translate-y, 0px), 0);
  will-change: height;
}

[data-rsbs-overlay]:focus {
  outline: none;
}

[data-rsbs-overlay],
[data-rsbs-root]:after {
  max-width: var(--rsbs-max-w, auto);
  margin-left: var(--rsbs-ml, env(safe-area-inset-left));
  margin-right: var(--rsbs-mr, env(safe-area-inset-right));
}

[data-rsbs-overlay],
[data-rsbs-backdrop],
[data-rsbs-root]:after {
  z-index: 3;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
  touch-action: none;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 470px;
  min-width: 360px;
  width: 100%;
  margin: 0 auto;
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

[data-rsbs-root]:after {
  content: '';
  pointer-events: none;
  background: var(--rsbs-bg, #fff);
  height: 1px;
  transform-origin: bottom;
  transform: scale3d(1, var(--rsbs-antigap-scale-y, 0), 1);
  will-change: transform;
}

[data-rsbs-footer],
[data-rsbs-header] {
  flex-shrink: 0;
  cursor: ns-resize;
}

[data-rsbs-header] {
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
  padding-top: calc(20px + env(safe-area-inset-top));
  text-align: right;
}
[data-rsbs-header]:before {
  position: absolute;
  content: '';
  display: block;
  width: 36px;
  height: 4px;
  top: calc(8px + env(safe-area-inset-top));
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
  background-color: var(--rsbs-handle-bg, hsla(0, 0%, 0%, 0.14));
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  [data-rsbs-header]:before {
    transform: translateX(-50%) scaleY(0.75);
  }
}
[data-rsbs-has-header='false'] [data-rsbs-header] {
  box-shadow: none;
  padding-top: calc(12px + env(safe-area-inset-top));
}

[data-rsbs-scroll] {
  flex-shrink: 1;
  flex-grow: 1;
  -webkit-tap-highlight-color: revert;
  -webkit-touch-callout: revert;
  -webkit-user-select: auto;
  -ms-user-select: auto;
  -moz-user-select: auto;
  user-select: auto;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

[data-rsbs-scroll]::-webkit-scrollbar {
  display: none;
}

[data-rsbs-scroll]:focus {
  outline: none;
}

[data-rsbs-has-footer='false'] [data-rsbs-content] {
  padding-bottom: env(safe-area-inset-bottom);
}

[data-rsbs-content] {
  overflow: hidden;
}

[data-rsbs-footer] {
  box-shadow: 0 -1px 0 rgba(46, 59, 66, 0.125), 0 2px 0 var(--rsbs-bg, #fff);
  overflow: hidden;
  z-index: 1;
}

.ck .ck-placeholder:before {
  color: #b8b8b8 !important;
}

/* 포인팅 장치가 있음(마우스, 터치패드, 타블렛 펜) */
@media (pointer: fine) {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: #e9e9e9;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #868686;
  }

  ::-webkit-scrollbar-track {
    background: 'none';
  }
}
