<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>566611453678-8f95vs4bkbb3gnhhhlkqs93ldvpljl75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.566611453678-8f95vs4bkbb3gnhhhlkqs93ldvpljl75</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>566611453678-0ks9gbmehvj675av7dvjq3lndkqmbm29.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCb3dccqRinHg8tzziRiwg4NAlG0VIdHdg</string>
	<key>GCM_SENDER_ID</key>
	<string>566611453678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ndream.live.naranggo2</string>
	<key>PROJECT_ID</key>
	<string>nrg2-1839f</string>
	<key>STORAGE_BUCKET</key>
	<string>nrg2-1839f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566611453678:ios:ec82fb651131af91c635ff</string>
</dict>
</plist>