/* Common */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

/* Btn */
.btn {
  display: inline-flex;
  align-items: center;
  position: relative;
  height: 34px;
  padding: 0 12px;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  background: #000, linear-gradient((to bottm, #fcfcfc, #eee));
  cursor: pointer;
  color: #333;
}
.btn:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.07);
}
.btn.btnPrimary {
  border: 1px solid #65b836;
  color: #fff;
  background: #55a532 linear-gradient(#91dd70, #55ae2e);
}

/* Input */
.input {
  height: 34px;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.75);
  font-size: 16px;
}
.inputForm:focus {
  border-color: #51a7e8;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),
              0 0 5px rgba(81,167,232,0.5);
}
.inputForm::-webkit-input-placeholder { color: #cacaca; }
.inputForm::-ms-input-placeholder { color: #cacaca; }
.inputForm::-moz-input-placeholder { color: #cacaca; }

/* inner */
.section {
  position: relative;
}

.inner {
  position: relative;
  max-width: 980px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* summary */
.summaryTitle {
  font-size: 38px;
  line-height: 1.25;
  margin-bottom: 18px;
}
 
.summaryDescription {
  font-size: 26px;
  color: #767676;
  line-height: 1.5;
}

/* header */

header {
  border-bottom: 1px solid rgba(0,0,0,0.75);
  box-shadow: 0 0 5px rgba(0,0,0,0.75);
  background: #fff;
}

header .inner {
  display: flex;
  justify-content: space-between;
  height: 78px;
}

header .headerMenu {
  display: flex;
  align-items: center;
  height: 100%;
}

header .logo a {
  display: block;
  width: 32px;
  height: 32px;
  background: url("../img/logo.svg");
  text-indent: -9999px;
}

header .logo a:hover {
  background: url("../img/logo_on.svg");
}

header .mainMenu {
  display: flex;
}

header .mainMenu li a {
  display: block;
  padding: 10px;
  color: #3c4146;
}
header .mainMenu li a:hover {
  color: #4078c0;
}

header .signMenu {
  display: flex;
  align-items: center;
  height: 100%;
}
header .signBtn {
  order: 2;
  display: flex;
}
.signIn {
  margin-right: 4px;
}
#searchForm {
  order: 1;
  margin-right: 12px;
}
#search {
  width: 160px;
  font-size: 14px;
}
#search + [type="submit"] {
  display: none;
}

header .subMenu {
  display: flex;
  margin-right: 10px;
}

header .subMenu li a {
  display: block;
  padding: 8px;
  font: 13px;
  color: #3c4146;
}

header .subMenu li a:hover {
  color: #4078c0;
}

/* main */

.mainVisual {
  position: relative;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
}
.mainVisual::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
}

.mainVisual .mainInner {
  display: flex;
  padding: 160px 0;
}

.mainVisual .mainSummary {
  flex: 1;
  margin-right: 90px;
}

.mainVisual .summaryTitle {
  color: #fff;
  font-size: 54px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 
               0 1px 25px rgba(0, 0, 0, 0.75);
}
 
.mainVisual .summaryDescription {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 
               0 1px 25px rgba(0, 0, 0, 0.75); 
}

#signForm {
  width: 340px;
  margin-top: 9px;
}

#signForm .mainInput {
  width: 100%;
  height: 40px;
}

#signForm li {
  margin-bottom: 17px;
}

#signForm li:last-child {
  margin-bottom: 0;
}

#signForm .caption {
  font-size: 12px;
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.5;
  text-align: center;
}

#signForm [type="submit"] {
  justify-content: center;
  width: 100%;
  height: 62px;
  padding: 0 25px;
  font-size: 20px;
}

/* feature */

.feature {
  background: #f5f5f5;
  padding-top: 66px;
}

.feature .featureSummary {
  max-width: 820px;
  margin: 0 auto;
  text-align: center;
}

.feature .video {
  max-width: 650px;
  margin: 50px auto;
}

.video .videoRatio {
  position: relative;
  padding-top: 56.25%;
  height: 0;
}

.videoRatio iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tiles {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.tiles .inner {
  max-width: 1200px;
}

.tiles ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.tiles li {
  padding: 34px 24px;
  text-align: center;
  line-height: 1.5;
  border-right: 1px solid #e5e5e5;
  box-sizing: border-box;
}
.tiles li:last-child {
  border-right: none ;
}


.tiles li img {
  max-width: 100%;
  padding: 14px 10% 24px;
  box-sizing: border-box;
}

.tiles li h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.tiles li p {
  font-size: 14px;
  color: #767676;
}