.movieSector {
  background-color: #F5F2DA;
  margin: 0 auto;
}

.moiveList {
  display: inline-block;
  list-style: none;
  margin: 0 auto;
  
  
}

.moivePoster {
  border: 4px solid black;
  display: flex;
  margin: 17px;
}
