.todo-insert {
    display: flex;
    background-color: #0d0d0e;

    input {
        flex: 1;
        padding: .5rem;
        font-size: 1.125rem;
        line-height: 1.5;
        background: none;
        border: none;
        outline: none;

        &::placeholder {
            color: #ffffff;
        }
    }

    button {
        display: flex;
        align-items: center;
        padding: 0 1rem;
        font-size: 1.5rem;
        background-color: #adb5bd;
    }
}